.logo{
    width: 80px;
}

header {
    border-bottom: 1px solid black;
    height: 90px;
}

.active{
    color: dodgerblue;
    border-bottom: 3px solid dodgerblue;
    padding-bottom: 17px;
}

main > .container{
    width: 800px;
    margin: auto;
}